extends ../layout

block content
    a(href="/bicicleta/all") Bicicletas

    br
    br
    br

    h1 Nueva Bicicleta

    form(action='/bicicleta/create/' method='post')
        | id:
        br
        input(type='text' name='id')
        br
        | modelo:
        br
        input(type='text' name='modelo' value='2019')
        br
        | marca:
        br
        input(type='text' name='marca' value="yamaha")
        br
        | color:
        br
        input(type='text' name='color' value='negro')
        br
        | lat:
        br
        input(type='text' name='latitud' value='51.500')
        br
        | long:
        br
        input(type='text' name='longitud' value='-0.08')
        br
        br
        input(type='submit' value='Submit' )