extends ../layout

block content

    h3 options
    a(href='/bicicleta/create') create

    br
    br
    br
    
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') modelo
                th(scope='col') color
                th(scope='col') marca
                th(scope='col') ubicacion
                th(scope='col') options
        tbody
            each elemento in lista
                tr
                    th(scope='row')= elemento.id
                    td= elemento.modelo
                    td= elemento.color
                    td= elemento.marca
                    td= elemento.ubicacion
                    td 
                        form.inline(method='post' action=`/bicicleta/delete/${elemento.id}/`)
                            button.link-button(type="submit" value='eliminar')


